body {
  position: relative;
  overflow-y: scroll;
}

/* Navbar */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 0px 40px;
  gap: 20px;
  align-items: center;
}

.nav-link-container {
  display: flex;
  gap: 2em;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-link-container {
    gap: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .nav-link-container {
    display: none;
  }
}

.nav-link {
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--nav-link-hover-color);
}

.hamburger-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 640px) {
  .hamburger-icon {
    display: block;
  }
}

.auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  background-color: #3e6ae1;
  width: max-content;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.not-auth-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

/* Main Page */
.car-title {
  font-size: 2em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-size: 30px;
  position: sticky;
  z-index: 50;
  top: 0em;
  background-color: white;
  height: 100%;
}

.transmission-filter-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

/* Car List */
.car-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  padding: 10px;
}

.car-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-details {
  display: flex;
  justify-content: space-between;
}

.car-brand-details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.car-brand,
.car-price {
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 640px) {
  .car-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .car-details {
    display: flex;
    flex-direction: column;
  }

  .car-brand,
  .car-price {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.car-minor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.car-minor-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mileage-text {
  font-size: 0.8em;
}

.car-image {
  display: none;
  width: 550px;
}

@media screen and (max-width: 1500px) {
  .car-image {
    display: none;
    width: 500px;
    height: fit-content;
  }
}

@media screen and (max-width: 640px) {
  .car-image {
    display: none;
    width: 100%;
    height: fit-content;
  }
}

.car-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.left-arrow-icon,
.right-arrow-icon {
  position: absolute;
  top: 200px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .left-arrow-icon,
  .right-arrow-icon {
    top: 150px;
  }
}

.left-arrow-icon {
  left: 3px;
}
.right-arrow-icon {
  right: 3px;
}

.car-image-active {
  display: block;
}

.view-car-btn {
  background-color: white;
  border: 3px solid black;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.view-car-btn:hover {
  background-color: black;
  border: 3px solid white;
  color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.no-cars-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
