.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 0px 40px;
  gap: 20px;
  align-items: center;
}

.nav-link-container {
  display: flex;
  gap: 2em;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-link-container {
    gap: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .nav-link-container {
    display: none;
  }
}

.nav-link {
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--nav-link-hover-color);
}

.hamburger-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 640px) {
  .hamburger-icon {
    display: block;
  }
}

.auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  background-color: #3e6ae1;
  width: max-content;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.title-container {
  font-size: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  font-weight: normal;
}
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  margin: 10px;
  padding: 15px;
  position: sticky;
  top: 0em;
}

.type-title {
  padding: 10px;
}
.type-title:hover {
  color: #3e6ae1;
}

.selected {
  border-bottom: #3e6ae1 solid 2px;
}

.booking-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.booking-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.car-image {
  width: 300px;
}
.car-title {
  word-wrap: break-word;
  max-width: 300px;
}
.car-container {
  display: flex;
  gap: 30px;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: bold;
}
.btn {
  background-color: #3e6ae1;
  width: max-content;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.delete-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  cursor: pointer;
}

.delete-container:hover {
  color: red;
}

.btn:hover {
  filter: brightness(0.9);
}
@media screen and (max-width: 800px) {
  .booking-item-container {
    flex-direction: column;
  }
  .car-container {
    flex-direction: column;
    gap: 10px;
  }
  .price-container {
    gap: 20px;
    flex-direction: row;
  }
}

.no-items {
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
